$primary: #47b3e4;
$primary-2: #007eac;
$primary-3: #caf7ff;
$secondary: #33867a;

$black-10: #203740;
$black-20: #2d4d59;
$black-30: #396373;
$black-40: #46798c;

$white: #fff;
$white-1: hsl(198, 100%, 99%);

$lightBlue-10: #f2fbff;
$lightBlue-20: #e6f8ff;
$lightBlue-30: #d9f5ff;
$lightBlue-40: #ccf1ff;

$blue-10: #eaf9ff;
$blue-20: #c5efff;
$blue-30: #a0e5ff;
$blue-40: #7bdbff;
$blue-50: #56d2ff;
$blue-60: #30c7fe;
$blue-70: #14a1d5;
$blue-80: #007eac;
$blue-90: #006083;
$blue-100: #00425a;

$gray-10: #b8c7cc;
$gray-20: #c3d3d9;
$gray-30: #cfdfe5;
$gray-40: #e6f8ff;

$font-primary: 'Studio Gothic Alternate', sans-serif;
$font-title: 'Current', sans-serif;
